.projects-heading {
  color: #c778dd;
  margin-top: 40px;
}

.project-card {
  background-color: transparent;
  color: white;
  border: 15px;
  margin-bottom: 20px;
}

.project-link {
  color: #c778dd;
  text-decoration: none;
}

.project-link:hover {
  text-decoration: underline;
}
.complete-project {
  margin-top: 40px;
  padding-top: 50px;
  padding-bottom: 25px;
  padding-left: 100px;
  background-color: #282c33;
  color: white;
  min-width: 100vh;
}
.key-project {
  margin-top: -60px;
  padding-top: 50px;
  padding-bottom: 25px;
  padding-left: 100px;
  background-color: #282c33;
  color: white;
  min-width: 100vh;
}
.tech-stack-color {
  color: rgb(140, 136, 134);
}
.project-border {
  border-bottom: 15px;
}
