.projects-heading {
  color: #c778dd;
  margin-top: 40px;
}

.project-card {
  background-color: transparent;
  color: white;
  border: none;
  margin-bottom: 20px;
}

.project-link {
  color: #c778dd;
  text-decoration: none;
}

.project-link:hover {
  text-decoration: underline;
}
.complete-project {
  padding-top: 20px;
  padding-left: 100px;
  background-color: #282c33;
  color: white;
}
